@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .table-container {
    margin-bottom: 20px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .player-avatar {
    margin-bottom: 10px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
  }
  
  .clean-board-button {
    margin-top: 20px;
  }
  
